PORT=Puerto_configurado
JWT_SECRET=escribe_aqui_una_clave_secreta
USER_EMAIL=tu_correo_de_prueba@techlab.com
USER_PASSWORD=tu_contraseña_aqui

# Credenciales de Firebase
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=
